body {

color:rgb(11, 12, 9);
background-color: #f1a8fd;

}

.widecontainer {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

a {
  color: rgb(249, 243, 70); 
  text-decoration: none;
}

a:hover{
  color:rgb(255, 0, 174);
  /*text-decoration: underline;*/
}
.nav_pad{
  padding-top:40px;
}
.section{
  padding-top: 30px;
  padding-bottom:40px;

}

.mid-section{
  padding-top: 120px;
  padding-bottom:40px;

}

.key {
  font-weight:bold;


}
.stripe {
 background-color: #4ec0d7;
}


ul.disc{
  list-style: disc;
  margin-left: 15px
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    padding-right:10px;
}


.statement_text {
    color:#444;
    background-color: rgb(33, 239, 174);
    padding: 8px;
    margin-top: 20px;
    border: 1px dashed black;
}
